@model IEnumerable<Project.Domin.User>

@{
    ViewBag.Title = "لیست کاربران";
}
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    <i class="glyphicon glyphicon-list"></i>
                    لیست کاربران سایت
                </strong>
            </div>
        </div>
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhonNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>عملیات</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.UserID">
            <td>
                @Html.DisplayFor(modelItem => item.Roles.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-danger btn-xs" onclick="Delete(@item.UserID,'/Admin/Users/Delete/','حذف کاربر @item.UserName',' آیا از حذف این کاربر مطمئن هستید؟','error')">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                 <a href="/Admin/Users/Edit/@item.UserID" class="btn btn-warning btn-xs">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>
    }

</table>

