@model IEnumerable<Project.Domin.User>

@{
    ViewBag.Title = "لیست کاربران";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhonNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.UserID">
            <td>
                @Html.DisplayFor(modelItem => item.Roles.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                <a onclick="Delete(@item.UserID,'/Admin/Users/Delete/','حذف کاربر @item.UserName',' آیا از حذف این کاربر مطمئن هستید؟','error')" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.UserID }) |
            </td>
        </tr>
    }

</table>

